<%- include("header"); -%>
  <div class="box" id="heading">
    <h1><%= List %></h1>
  </div>
  <div class="box">
    <% for(var i=0 ; i<newItemList.length;i++){ %>
    <div class="item">
      <input type="checkbox">
      <p> <%= newItemList[i] %> </p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="todolistitem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="button" value=<%= List %>>+</button>
    </form>
  </div>
<%- include("footer"); -%>
